@import "tailwindcss";

@theme {
  --color-light-pink: #EEC8CF;
  --color-rosewood: #CE8A97;
  --color-raspberry: #AE5969;
  --color-mauve-brown: #634A45;
  --color-plum-brown: #412722;

  --font-pixelify: var(--font-pixelify);
  --font-jersey: var(--font-jersey);
}

html {
  scroll-behavior: smooth;
}